<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moco.android.mtsdevice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <permission
        android:name="moco.android.mtsdevice.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="moco.android.mtsdevice.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="moco.android.mtsdevice.ModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="moco.android.mtsdevice.ScanTagActivity">
            
            <intent-filter>
			    <action android:name="android.nfc.action.TECH_DISCOVERED"/>
			</intent-filter>
			
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED"
			    android:resource="@xml/nfc_tech_filter" />
            
        </activity>
        
        <activity android:name="moco.android.mtsdevice.triage.TriageActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.triage.TriageColorSelection"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.triage.TriageSelectionActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.triage.TriageSalvageinfoActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.triage.TriageSalvageinfoAdd"
            	  android:screenOrientation="portrait"></activity>
        
        <activity android:name="moco.android.mtsdevice.salvage.SalvageActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.salvage.SalvageListActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.salvage.SalvageSingleViewActivity"
            	  android:screenOrientation="portrait"></activity>
        
        <activity android:name="moco.android.mtsdevice.therapy.TherapyListActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.TherapyAreaActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.TherapySelectionActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.TherapyPersonalDataActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.TherapyVitalParameterActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.TherapyDiagnosisActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.TherapyRecordDeathActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.TherapyMinorActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.TherapyImmediateActivity"
            	  android:screenOrientation="portrait"></activity>
        
        <activity android:name="moco.android.mtsdevice.therapy.BodyViewFrontActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.BodyViewBackActivity"
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="moco.android.mtsdevice.therapy.BodySelectionList"
            	  android:screenOrientation="portrait"></activity>
        
        
        <activity android:name="moco.android.mtsdevice.maps.SalvageMap"
            	  android:screenOrientation="portrait"></activity>
        
        
        <activity android:name="moco.android.mtsdevice.TestActivity"
            	  android:screenOrientation="portrait"></activity>
        
    </application>
    
    <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBKj_0ot8RiLHye2Z-WGuRhKIG6jVQHjAw" />

</manifest>
